
$font-size-h1: 34px;

$headings-small-color: black;

$link-color: #101010;

$link-hover-color: #C1272D;

$btn-default-color: white;
$btn-default-bg: black;
$btn-default-border: black;

$modal-md: 420px;

$modal-lg: 600px;

@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

#img_container {
    position:relative;
    display:inline-block;
    a {
      position:absolute;
      top:10px;
      left:50%;
      margin-left:-51.5px;
    }
}

h1 {
  font-family: 'Almendra SC', serif;
  small {font-family: 'Fanwood text', serif;}
  &:first-child {margin-top: 200px;}
  &:last-child {margin-bottom: 200px;}
}

.container-fluid {
  img {
    margin-top: 200px;
    &:last-child {margin-bottom: 200px;}
    .pull-left {float: left !important;}
    .pull-right {float: right !important;}
  }
}

#linear-gradient1 {
  @include gradient-directional (black, #00078E, 15deg);
}

#linear-gradient2 {
  @include gradient-directional (#00078E, black, -15deg);
}

.modal {
  top: 5%;
  &.left {
    left: 40%;
  }
  &.right {
    right: 40%;
  }
}

.modal-content {
  border-radius: 0;
}
.modal-footer {
  .btn-default {
    font-family: 'Fanwood text', serif;
    font-size: 20px !important;
    border-radius: 0;
    &:hover {
      color: black;
      background-color: white;
      border-color: black;
    }
  }
  p {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
    a {
      color: #C1272D;
      &:hover {
        color: black;
      }
    }
  }
}

.monsters {
  margin: 100px auto 100px auto;
}

.col-sm-4 {
  p {
    margin-bottom: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
  }
}
