
$headings-small-color: black;


@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";



h1 {
  font-family: 'Almendra SC', serif;
}

small {
  font-family: 'Fanwood text', serif;

}
