
$font-size-h1: 34px;

$headings-small-color: black;

@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

h1:first-child {
  margin-top: 200px;
}

h1:last-child {
  margin-bottom: 200px;
}

h1 {
  font-family: 'Almendra SC', serif;
}

small {
  font-family: 'Fanwood text', serif;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  img {
    margin-top: 200px;
  }
}

#linear-gradient1 {
  @include gradient-directional (black, #00078E, 15deg);
}

.pull-left {
  float: left !important;
}

#linear-gradient2 {
  @include gradient-directional (#00078E, black, -15deg);
}
#linear-gradient3 {
  @include gradient-directional (black, #00078E, -345deg);
}
